@use "../global/variables" as *;
@use "../global/media" as *;

.container {
  display: block;
  width: $breakpoint-mobile;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 var(--page-offset, 0);

  @media #{$not-mobile} {
    width: $breakpoint-tablet;
  }

  @media #{$desktop-only} {
    width: $breakpoint-desktop;
  }
}

.container--relative {
  position: relative;
}

.container--no-overflow {
  overflow-x: clip;
}
