@use "../global/media" as *;

.container {
  display: block;
  width: $breakpoint-mobile;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media #{$not-mobile} {
    width: $breakpoint-tablet;
    padding: 0 45px;
  }

  @media #{$desktop-only} {
    width: $breakpoint-desktop;
    padding: 0 120px;
  }
}

.container--relative {
  position: relative;
}
