@use "../global/variables" as *;
@use "../global/media" as *;
@use "../global/mixins" as *;

.layout {
  height: 100%;
  background-color: $color-white;
}

.layout__body {
  min-width: $breakpoint-mobile;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font: var(--font-text-regular, inherit);
  color: $color-dark;
  overflow: hidden;
  overflow-y: auto;

  @include multiple-background-image((
    "mobile": (
      ("name": "layouts/clouds-1", "extention": "png"),
    ),
    "tablet": (
      ("name": "layouts/clouds-3", "extention": "png"),
      ("name": "layouts/clouds-2", "extention": "png"),
      ("name": "layouts/clouds-1", "extention": "png"),
    ),
    "desktop": (
      ("name": "layouts/clouds-3", "extention": "png"),
      ("name": "layouts/clouds-2", "extention": "png"),
      ("name": "layouts/clouds-1", "extention": "png"),
    ),
  ), $maxdppx);

  background-repeat: no-repeat;
  background-position: left calc(50% + 192px) top 678px;
  background-size: 346px 596px;

  @media #{$not-mobile} {
    background-position:
      center top 4048px,
      left calc(50% + 339px) top 2365px,
      left calc(50% + 318px) top 1024px;
    background-size:
      1440px 996px,
      840px 280px,
      718px 1630px;
  }

  @media #{$desktop-only} {
    background-position:
      center top 3643px,
      left calc(50% + 507px) top 2352px,
      left calc(50% + 1118px) top 800px;
    background-size:
      2091px 447px,
      840px 280px,
      2000px 1630px;
  }
}

.layout__body.scroll-locked {
  overflow: hidden;
}

.layout__main {
  flex-grow: 1;
}
