@use "sass:list" as *;
@use "sass:map";
@use "./variables" as *;
@use "./media" as *;

@mixin multiple-background-image($images, $maxdppx: 1, $preimage: "", $postimage: "") {
  @each $viewport in map.keys($images) {
    $media-query: getMediaQuery($viewport);

    $dppx: 1;

    @while $dppx <= $maxdppx { /* stylelint-disable-line at-rule-no-unknown */
      @if $dppx == 1 { /* stylelint-disable-line at-rule-no-unknown */
        @media #{$media-query} {
          @include bg-multiple-image-choose-format(map.get($images, $viewport), $viewport, $dppx, $preimage, $postimage);
        }
      }

      @else { /* stylelint-disable-line at-rule-no-unknown */
        @media #{$media-query} and (min-resolution: #{$dppx}dppx) {
          @include bg-multiple-image-choose-format(map.get($images, $viewport), $viewport, $dppx, $preimage, $postimage);
        }
      }

      $dppx: $dppx + 1;
    }
  }
}

/// Служебный миксин для миксина bg-image
@mixin bg-multiple-image-choose-format($images, $viewport, $dppx, $preimage, $postimage) {
  $formats: original, webp;

  @each $format in $formats {
    $class-name: if(($format == webp) or ($format == avif), ".#{$format}", "");
    $url: getUrl($images, $viewport, $dppx, $format);

    @if $preimage != "" { /* stylelint-disable-line at-rule-no-unknown */
      $url: $preimage, $url;
    }

    @if $postimage != "" { /* stylelint-disable-line at-rule-no-unknown */
      $url: $url, $postimage;
    }

    #{$class-name} & {
      background-image: $url;
    }
  }
}

@function getUrl($images, $viewport, $dppx, $format) {
  $url: null;

  @each $image in $images {
    $name: map.get($image, "name");
    $extention: map.get($image, "extention");

    @if $format == original {
      $url: $url, url("../img/#{$name}--#{$viewport}@#{$dppx}x.#{$extention}");
    }

    @else {
      $url: $url, url("../img/#{$name}--#{$viewport}@#{$dppx}x.#{$format}");
    }
  }

  @return $url;
}

/// Служебная функция для миксина bg-image
@function getMediaQuery($viewport) {
  @if $viewport == mobile { /* stylelint-disable-line at-rule-no-unknown */
    @return all;
  }

  @if $viewport == tablet { /* stylelint-disable-line at-rule-no-unknown */
    @return $not-mobile;
  }

  @if $viewport == desktop { /* stylelint-disable-line at-rule-no-unknown */
    @return $desktop-only;
  }
}
