@use "sass:color";
@use "../global/variables" as *;
@use "../global/media" as *;
@use "../global/mixins" as *;

.advantages {
  padding: 20px 0;

  @media #{$not-mobile} {
    padding: 40px 0;
  }

  @media #{$desktop-only} {
    padding: 100px 0;
  }
}

.advantages__heading {
  margin-bottom: 21px;
  text-align: center;

  @media #{$not-mobile} {
    margin-bottom: 50px;
  }

  &[data-text] {
    @media #{$desktop-only} {
      padding-top: 35px;
      padding-bottom: 0;
    }
  }
}

.advantages__slider--wide {
  @media #{$desktop-only} {
    position: relative;
    left: -410px;
    width: 2020px;
  }
}

.advantages__slider-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media #{$not-mobile} {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media #{$desktop-only} {
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
    gap: 0;
  }
}

.advantages__slider-item {
  flex-shrink: 0;
  padding: 19px 9px;
  border: 1px solid color.adjust($color-effervescent-blue, $alpha: -0.9);
  text-align: center;
  background: $color-white;
  overflow-wrap: anywhere;

  @media #{$not-mobile} {
    max-width: 324px;
    min-height: 340px;
    height: auto;
    padding: 29px 19px;
  }

  @media #{$desktop-only} {
    max-width: 380px;
    min-height: auto;
    padding: 39px 19px;
  }

  &::before {
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 auto 20px;
    border: 1px solid $color-effervescent-blue;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    content: "";

    @media #{$not-mobile} {
      width: 48px;
      height: 48px;
      margin-bottom: 25px;
    }

    @media #{$desktop-only} {
      width: 54px;
      height: 54px;
      margin-bottom: 30px;
    }
  }
}

.advantages__slider-item:nth-child(2n-1):last-child {
  margin: 0 auto;

  @media #{$desktop-only} {
    margin: 0;
  }
}

.advantages__slider-item--shield::before {
  background-image: url("/__spritemap#sprite-shield-view");
}

.advantages__slider-item--crown::before {
  background-image: url("/__spritemap#sprite-crown-view");
}

.advantages__slider-item--sneakers::before {
  background-image: url("/__spritemap#sprite-sneakers-view");
}

.advantages__slider-item--path::before {
  background-image: url("/__spritemap#sprite-path-view");
}

.advantages__slider-item--leaf::before {
  background-image: url("/__spritemap#sprite-leaf-view");
}


.advantages__slider-item h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 15px;
  font: var(--font-heading-h6, inherit);

  @media #{$not-mobile} {
    padding: 0;
  }
}

.advantages__slider-item p {
  margin: 0;
  font: var(--font-text-small, inherit);
}

.advantages__slider-navigation {
  display: none;

  @media #{$desktop-only} {
    display: grid;
    margin: 0 auto;
  }
}
