@use "sass:color";
@use "../global/variables" as *;
@use "../global/media" as *;
@use "../global/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 638px;
  padding: 20px 0;
  background-color: color.adjust($color-black, $alpha: -0.8);

  @include bg-image(
    $name: "form/background",
    $extention: "jpg",
    $maxdppx: 2,
    $viewports: (mobile, tablet, desktop)
  );

  background-repeat: no-repeat;
  background-position: center top;
  background-size: $breakpoint-mobile 638px;

  @media #{$not-mobile} {
    min-height: 680px;
    padding: 40px 0;
    background-size: $breakpoint-tablet 680px;
  }

  @media #{$desktop-only} {
    min-height: 760px;
    padding: 100px 0;
    background-size: $breakpoint-desktop 760px;
  }
}

.form__body {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 16px;
  color: $color-white;

  @media #{$not-mobile} {
    padding: 0;
  }

  @media #{$desktop-only} {
    max-width: 960px;
  }
}

.form__intro {
  overflow-wrap: anywhere;

  @media #{$desktop-only} {
    margin-bottom: 40px;
  }
}

.form__body h2 {
  @include heading;

  margin-bottom: 20px;
  text-align: center;

  @media #{$not-mobile} {
    margin-bottom: 25px;
    padding: 3px 0;
  }

  @media #{$desktop-only} {
    margin-bottom: 20px;
    padding: 0;
  }
}

.form__body p {
  width: 220px;
  margin: 0 auto 20px;
  font: var(--font-text-small, inherit);
  text-align: center;

  @media #{$not-mobile} {
    width: 100%;
    margin-bottom: 25px;
    font: var(--font-text-regular, inherit);
  }

  @media #{$desktop-only} {
    margin-bottom: 20px;
  }
}

.form__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media #{$not-mobile} {
    gap: 11px;
  }

  @media #{$desktop-only} {
    flex-direction: row;
    gap: 30px;
  }
}

.form__field {
  display: block;
  width: 100%;
  max-width: 360px;
}

.form__field-input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 16px 14px;
  border: 1px solid color.adjust($color-effervescent-blue, $alpha: -0.9);
  font: var(--font-input, inherit);
  color: color.adjust($color-dark, $alpha: -0.5);
  appearance: textfield;

  @media #{$not-mobile} {
    height: 56px;
    padding: 19px 29px;
  }

  &::placeholder {
    font: var(--font-input, inherit);
    color: color.adjust($color-dark, $alpha: -0.5);
  }

  &:focus {
    border-color: $color-dark;
    outline: none;
  }

  &:hover {
    border-color: $color-effervescent-blue;
  }

  &:disabled {
    border-color: $color-deep-gray;
    color: color.adjust($color-deep-gray, $alpha: -0.5);
    pointer-events: none;
  }
}

.form__field-input.error {
  border-color: $color-vivid-red;
}

.form__button {
  width: 100%;
  padding: 21px 19px;

  @media #{$not-mobile} {
    padding: 20px;
    border-radius: 6px;
  }

  @media #{$desktop-only} {
    width: 180px;
    border-radius: 0;
  }
}
